.button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	border-radius: 20px;
	cursor: pointer;
}

body {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: lightgray;
}

#result {
	margin-top: 50px;
}

input {
	width: 100px;
}

label {
	font-family: "Jetbrains Mono";
	margin-bottom: 10px;
}

.centralize_page {
	width: 200px;
	margin: 0 auto;
}

.inputText {
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 50px;
	border: 2px solid #4caf50;
	transition: all 0.5s;
}

.inputText:focus {
	border-color: #0077ff;
	box-shadow: 0 0 10px #0077ff;
}

.result {
	width: 100px;
	height: 100px;
	background-color: #f0f0f0;
	border-radius: 250px;
	padding: 8px;
	box-shadow: 0 0 10px #888888;
	margin: 50px auto;
	text-align: center;
}

.dimensionar {
	width: 1800px;
	height: 600px;
	border-radius: 50px;
	text-align: justify;
	display: hidden;
}
